---
import SectionWrapper from "@/components/ui/SectionWrapper.astro";
import Text from "@/components/ui/Text.astro";
import Divider from "@/components/ui/Divider.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import DownloadCV from "@/components/ui/DownloadCV.astro";
import Socials from "@/components/ui/socials.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const greet = t("hero.greet");
const name = t("hero.name");
const role = t("hero.role");
const description = t("hero.description");
---

<SectionWrapper
  class="relative max-w-6xl min-h-[calc(100vh-75px)] justify-center mb-4"
  title="hero"
  divider={false}
>
  <div class="flex flex-col justify-center mb-32 gap-2">
    <Text as="p" variant="lead" class="text-foreground/70">
      {greet}
    </Text>
    <Text as="h1" variant="hero">
      {name}
      <br />
      <span class="text-accent"> {role}</span>
    </Text>
    <Text as="p" variant="lead" class="text-base md:text-lg">
      {description}
    </Text>
    <Divider />
    <div class="flex gap-2">
      <Socials showName={false} />
      <DownloadCV />
    </div>
  </div>
</SectionWrapper>
