---
import Button from "@/components/ui/Button.astro";
import Divider from "@/components/ui/Divider.astro";
import SpotlightCard from "@/components/ui/SpotlightCard.astro";
import Technologies from "@/components/ui/Technologies.astro";
import Text from "@/components/ui/Text.astro";

const { data } = Astro.props;
---

<SpotlightCard>
  <Text as="p" class="mt-0 text-sm pb-2">
    {data.date.toLocaleDateString()}
  </Text>
  <Text as="h3" variant="lead">
    {data.title}
  </Text>
  <Text as="p" variant="paragraph">
    {data.description}
  </Text>
  <div class="flex mt-4">
    {
      data.links.map((link: { url: string; linkType: string }) => (
        <Button
          as="a"
          variant="link"
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          class="px-0 mr-4"
        >
          {link.linkType === "source-code" ? "Source Code" : "Live View"}
        </Button>
      ))
    }
  </div>
  <Divider />
  <Technologies data={data.technologies} class="mt-4" />
</SpotlightCard>
