---
import Button from "@/components/ui/Button.astro";
import Divider from "@/components/ui/Divider.astro";
import SpotlightCard from "@/components/ui/SpotlightCard.astro";
import Technologies from "@/components/ui/Technologies.astro";
import Text from "@/components/ui/Text.astro";
import { formatDate } from "@/utils/date";
import type { CollectionEntry } from "astro:content";

type collectionData = CollectionEntry<"projects">["data"];

const { data, linksLabels } = Astro.props as {
  data: collectionData;
  linksLabels: { sourceCode: string; liveDemo: string };
};
---

<SpotlightCard>
  <Text as="p" class="mt-0 text-sm pb-2">
    {formatDate(data.date)}
  </Text>
  <Text as="h3" variant="lead" class="text-foreground/90">
    {data.title}
  </Text>
  <Text as="p" variant="paragraph">
    {data.description}
  </Text>
  <div class="flex mt-2 lg:mt-4">
    {
      data.links.map((link: collectionData["links"][0]) => (
        <Button
          as="a"
          variant="link"
          href={link?.url}
          target="_blank"
          rel="noopener noreferrer"
          class="px-0 mr-4 mb-0 pb-0"
        >
          {link?.linkType === "source-code"
            ? linksLabels.sourceCode
            : linksLabels.liveDemo}
        </Button>
      ))
    }
  </div>
  <Divider />
  <Technologies data={data.technologies} />
</SpotlightCard>
