---
import Divider from "@/components/ui/Divider.astro";
import Text from "@/components/ui/Text.astro";
import { twMerge } from "tailwind-merge";

type Props = {
  class?: string;
  title?: string;
  description?: string;
  divider?: boolean;
};

const { class: className, title, description, divider = true } = Astro.props;

const titleId = title?.replace(/\s/g, "_").toLowerCase();
---

<section
  aria-labelledby={`${titleId}-title`}
  id={titleId}
  class={twMerge(
    "w-full min-h-[calc(100svh+75px)] flex flex-col justify-start mb-8 scroll-mt-24",
    className,
  )}
>
  <div class="reveal">
    <header>
      {
        title && title !== "hero" && (
          <Text id={`${titleId}-title`} as="h2" variant="title">
            {title}
          </Text>
        )
      }
      {
        description && (
          <Text as="p" variant="normal">
            {description}
          </Text>
        )
      }
    </header>
    {divider && <Divider class="mb-10" />}
    <slot />
  </div>
</section>
